/* From Uiverse.io by cssbuttons-io */
.btn-neon {
    padding: 1em 2em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: white;
    background-color: #064e3b;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.btn-neon:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.btn-neon:active {
    transform: translateY(-1px);
}

@media (max-width: 425px) {
    .btn-neon {
        padding: 1em 2.2em;
        font-size: 11px;
    }
}
